rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pruebas/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null;
    }
    match /contratos/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null;
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
